/* {
    font-family: 'Castoro', serif;
} */

h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Castoro', serif;
}

h2 {
    font-size: 25px;
}

.hero {
    background-image: url(moremountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(34,34,34,0) 0%, rgba(34,34,34,0.8) 100%);
    opacity: 0.9;
}

.hero .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    color: #ffd700;
    font-style: italic;
}

.hero h1,
.hero h2 {
    margin: auto;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0%;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.video-wrap .container {
    margin: auto;
    max-width: 800px;
}

button {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 3px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #ebba51;
    border: none;
    border-bottom: 5px solid #b58e3b;
    text-shadow: 0px -2px #b58e3b;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
   
   button:hover, button:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    border-bottom: 1px solid #b58e3b;
}